<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header text-white py-2">
            <h5 class="modal-title" >Apertura de caja</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="abrirCajaForm" method="post" action="{% url 'abrir_caja' %}">
              {% csrf_token %}
              <div class="mb-3" >
                {{ form.monto_inicial.label_tag }}
                <div style="margin-top: 0.5rem;">
                  {{ form.monto_inicial }}
                </div>
              </div>
            </form>
          </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" 
                    >Cancelar</button>
            <button type="submit" class="btn btn-primary" form="abrirCajaForm" 
                    >Confirmar</button>
          </div>
    </div>
</div>