{% extends "base.html" %}
{% block content %}
<h1 class="h1-pueva">Nueva categoria</h1>

<div class="">
    <form action="" method="post" class="formulario-prueva">
      {% csrf_token %}
      
      <div class="">
        <label for="nombre" class="label-prueva">Nombre</label>
         {{ form.nombre }} 
      </div>
      
      <a href="{% url 'categorias' %}" class="btn-prueva">Volver</a>
      <button type="submit" value="Gravar" class="btn-prueva2 ">Guardar</button>
      
    </form>


</div>

  
    
{%endblock%}