{% extends "base.html" %}
{% load static%}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link rel="stylesheet" href="{% static 'css/categorias_tabla.css' %}">
</head>
<h1 class="categories-title">Categorías</h1>

<div class="messages">
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
</div>

<table id="tabla-categorias" class="table-custom">
    <thead>
        <tr>
            <th class="column-nombre">Nombre</th>
            {% if perms.auth.delete_categoria %}
            <th class="column-acciones">Acciones</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for categoria in categorias %}
        <tr>
            <td class="column-nombre">{{ categoria.nombre }}</td>
            <td class="column-acciones actions-column">
                {% if perms.auth.delete_categoria %}
                <a href="{% url 'modificar_categoria' categoria.id %}" class="icon-container icon-edit">
                    <i class='bx bx-edit-alt'></i>
                </a>
                <a href="{% url 'eliminar_categoria' categoria.id %}" class="icon-container icon-delete">
                    <i class='bx bx-trash'></i>
                </a>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No hay categorías disponibles.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
{% if perms.auth.add_caja %}
<a href="{% url 'nueva_categoria' %}" class="btn-add-category">
    <i class='bx bx-plus-circle'></i> AÑADIR NUEVA CATEGORÍA
</a>
{% endif %}

{% endblock %}