{% extends "base.html" %}
{% block content %}
<h1 class="h1-pueva">{{tipo}} producto{{dato}}</h1>

<div class="">
    <form action="" method="post" class="formulario-prueva">
      {% csrf_token %}
      
      <div class="">
        <label for="validationCustom02" class="label-prueva">Nombre</label>
        {{ form.nombre }}
      </div>
      
      <div class="">
        <label for="validationCustom02" class="label-prueva">Marca</label>
        {{ form.marca }}
      </div>
      
      <div class="">
        <label for="validationCustom02" class="label-prueva">Precio</label>
        {{ form.precio }}
      </div>


      <div class="">
        <label for="validationCustom02" class="form-check">Proveedor</label>
        <div class="proveedores">{{ form.proveedores }}</div>  
      </div>

      <div class="">
        <label for="validationCustom02" class="label-prueva">Categoría</label>
        {{ form.categoria }}
        <a  href="{% url "nueva_categoria" %}" class='bx bxs-duplicate' style='color:#00ff0df5' ></a>
      </div>

      <div class="">
        <label for="validationCustom02" class="label-prueva">stock</label>
        {{ form.cantidad }}
      </div>
      
      <div class="">
        <label for="validationCustom02" class="label-prueva">Descripción</label>
        {{ form.descripcion }}
      </div>

      <a href="{% url 'productos' %}" class="btn-prueva">Volver</a>
      <button type="submit" value="Gravar" class="btn-prueva2 ">Guardar</button>
      
    </form>
    
</div>

  
    
{%endblock%}