<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header text-white py-2">
            <h5 class="modal-title">Retirar Dinero</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-3">
            <form id="retirarDineroForm" action="{% url 'retirar_dinero' %}" method="post">
                {% csrf_token %}

                <div class="mb-3">
                    {{ form.tipo.label_tag }}
                    <div>
                      {{ form.tipo }}
                    </div>
                </div>

                <div>
                    {{ form.cantidad.label_tag }}
                    <div>
                      {{ form.cantidad }}
                    </div>
                </div>

                <div class="messages">
                    {% for message in messages %}
                        <p class="alert alert-danger">{{ message }}</p>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    {{ form.descripcion.label_tag }}
                    <div>
                      {{ form.descripcion }}
                    </div>
                </div>
            </form>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" form="retirarDineroForm">Confirmar</button>
        </div>
    </div>
</div>