{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}IMET | FERRETERIA{% endblock %}</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <!-- CSS personalizado -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    
    <!-- CSS de DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css">
  
    <!-- CSS de Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
    <!-- CSS de Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="{% static 'js/script.js' %}"></script>


    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="sidebar close">
        <div class="logo-details">
            <i class='bx bx-wrench bx-rotate-270' style='color:#ffa600'></i>
            <span class="logo_name">IMET</span>
        </div>
        <ul class="nav-links">
            <!-- Navegación -->
            <li>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Inicio</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="{% url 'home'%}">
                        <i class='bx bxs-home'></i>
                        <span class="link_name">Inicio</span>
                    </a>
                </div>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bxs-box'></i>
                        <span class="link_name">Caja</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Caja</a></li>
                    <li><a href="{% url 'caja' %}">Caja actual</a></li>
                    <li><a href="{% url 'cajas' %}">Registro cajas</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bxs-cart-alt'></i>
                        <span class="link_name">Ventas</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Ventas</a></li>
                    <li><a href="{% url 'crear_venta' %}">Nueva venta</a></li>
                    <li><a href="#">Registro ventas</a></li>
                </ul>
            </li>
            <!-- Más navegación... -->
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class="bx bxs-customize"></i>
                        <span class="link_name">Inventario</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Inventario</a></li>
                    <li><a href="{% url 'productos' %}">Productos</a></li>
                    <li><a href="{% url 'categorias' %}">Categorías</a></li>
                    <li><a href="{% url 'proveedores_productos' %}">Proveedores</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bxs-user'></i>
                        <span class="link_name">Clientes</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Clientes</a></li>
                    <li><a href="#">Cargar cliente</a></li>
                    <li><a href="#">Lista de clientes</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog'></i>
                    <span class="link_name">Opciones</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Opciones</a></li>
                </ul>
            </li>
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <img src="{% static 'img/profile.jpg' %}" alt="profileImg">
                    </div>
                    <div class="name-job">
                        <div class="profile_name">Esteban</div>
                        <div class="job">Empleado</div>
                    </div>
                    <i class='bx bx-log-out'></i>
                </div>
            </li>
        </ul>
    </div>

    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'></i>
        </div>
        {% block content %}
        {% endblock %}
    </section>

    <footer></footer>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>

    <!-- JS de Select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"></script>

    <!-- Scripts de DataTables -->
    <script>
        $(document).ready(function() {
            // Función para inicializar o reinicializar una tabla
            function initializeDataTable(selector, config) {
                var table = $(selector);
                
                if ($.fn.DataTable.isDataTable(table)) {
                    table.DataTable().destroy();
                    table.empty();
                }
        
                setTimeout(function() {
                    table.DataTable(config);
                }, 100);
            }
        
            // Configuración común
            var commonConfig = {
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json",
                    paginate: {
                        previous: '<i class="bx bx-chevron-left"></i>',
                        next: '<i class="bx bx-chevron-right"></i>'
                    }
                },
                serverSide: false,
                processing: true,
                destroy: true,
                responsive: true
            };
        
            // Inicialización para todas las tablas con la clase 'table-custom' (excluyendo las específicas)
            $('.table-custom:not(#tabla-categorias):not(#tabla-proveedores)').each(function() {
                initializeDataTable(this, {
                    ...commonConfig,
                    columnDefs: [
                        { searchable: false, targets: [2, 4, 6] },
                        { orderable: false, targets: [1, 2, 4, 6] }
                    ]
                });
            });
        
            // Inicialización específica para la tabla de categorías
            initializeDataTable('#tabla-categorias', {
                ...commonConfig,
                columnDefs: [
                    { targets: [0], searchable: true, orderable: true },
                    { targets: [1, 2], searchable: false, orderable: false }
                ]
            });
        
            // Inicialización específica para la tabla de proveedores
            initializeDataTable('#tabla-proveedores', {
                ...commonConfig,
                columns: [
                    { data: 'id' },
                    { data: 'nombre' },
                    { data: 'telefono' },
                    { 
                        data: null,
                        render: function(data, type, row) {
                            return '<a href="/modificar_proveedor_producto/' + row.id + '" class="btn-modificar"><i class="bx bx-edit-alt"></i></a>';
                        }
                    },
                    {
                        data: null,
                        render: function(data, type, row) {
                            return '<a href="#" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal' + row.id + '" class="btn-eliminar"><i class="bx bx-trash"></i></a>';
                        }
                    }
                ],
                columnDefs: [
                    { targets: [0, 1], searchable: true, orderable: true },
                    { targets: [2], searchable: true, orderable: false }, // Teléfono searchable pero no orderable
                    { targets: [3, 4], searchable: false, orderable: false }
            ],
                order: [[0, 'asc']]  // Ordena por la columna ID de forma ascendente por defecto
            });
        });
        
    </script>

    <!-- Inicialización de Select2 con checkboxes -->
    <script>
        $(document).ready(function() {
            $('#proveedor-select').select2({
                placeholder: 'Seleccionar proveedor/es',
                allowClear: true,
                closeOnSelect: false,
                templateResult: formatState,  
                templateSelection: formatSelection,
                width: '100%'  
            });

            
            function formatState(state) {
                if (!state.id) {
                    return state.text;
                }
                var $state = $('<span><input type="checkbox" style="margin-right: 10px;">' + state.text + '</span>');
                return $state;
            }

            
            function formatSelection(state) {
                return state.text;
            }
        });
    </script>

    {% block extra_js %}{% endblock %}
</body>
</html>